.participating {
  background-color: #eff2fe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #707070;
}

.participating-link {
  color: #61dafb;
}

.participating_main {
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.participating_background {
  width: 100vw;
  height: 100vh;
}

.participating_title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.participating_title p {
  color: #8C5703;
  font-size: 20px;
  font: normal normal bold 18px/24px Segoe UI;
}