.welcome_screen {
  background-color: #eff2fe;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #707070;
  padding-bottom: 20px;
   
}

.welcome_screen_main {
  max-width: 767px;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.welcome_screen-link {
  color: #61dafb;
}

.welcome_background {
  width: 95%;
  height: 350px;
}

.welcome_title_main {
  position: absolute;
  top: 40px;
  justify-content: center;
  align-self: center;
  display: flex;
  left: 0;
  right: 0;
}

.welcome_title {
  justify-content: center;
  align-self: center;
  width: 70%;
  text-align: center;
}

.welcome_title_1 {
  text-align: center;
  font: normal normal bold 18px/24px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 18px;
}

.welcome_title_2 {
  text-align: center;
  font: normal normal 600 16px/21px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 16px;
}

.welcome_description {
  text-align: center; 
  width: 90%;
}

.welcome_description_1 {
  margin-top: 17px;
  text-align: center;
  font: normal normal normal 16px/21px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 16px;
}

.welcome_description_2 {
  margin-top: 20px;
  text-align: center;
  font: normal normal 600 16px/21px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 16px;
}

.start_btn {
  background: #5661FF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 0.8;
  width: 173px;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: center;
  align-self: center;
  display: flex;
  margin-top: 29px;
  cursor: pointer; 
}

.start_btn_title {
  font: normal normal 600 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  justify-content: center;
  align-self: center;
  display: flex;
  padding: 0px;
  margin: 0px;
}