

.basic_information {
  background-color: #eff2fe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #707070;
  padding-bottom: 20px;
}

.basic_information-link {
  color: #61dafb;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
  opacity: 1;
}

.basic_information_main {
  width: 95%;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.basic_information_title_div {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  margin-bottom: 6x;
}

.required_field_icon {
  color: #FF0000AB;
  font-weight: bold;
  margin-bottom: 2px;
  margin-left: 2px;
}

.basic_information_title {
  font-weight: bold;
  margin-bottom: 0px;
}

.basic_information_input_title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0px;
}

.basic_information_input_description {
  text-align: left;
  font: normal normal normal 14px/18px Segoe UI;
  letter-spacing: 0px;
  color: #7E7E7E;
  opacity: 1;
}

.border_bottom {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid #b7b9bf;
}

.back_submit_btn button{
  background: #5661FF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 0.8;
  width: 48%;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: center;
  align-self: center;
  display: flex;
  margin-top: 15px;
}

.body_image {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 20px;
  height: 65vh;
  border-radius: 10px;
  border: 1px solid #707070;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.input_form_control {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-size: 15px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.error_input_form_control {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-size: 15px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #FF0000AB;
  border-radius: .25rem;
}

.input_form_control input,
.error_input_form_control input{
    display: block;
    border: 0px;
    width: 90%;
    /* width: 70%; */
}

.input_form_control textarea:focus, input:focus,
.error_input_form_control textarea:focus, input:focus{
  outline: none;
}

.error_input_form_control ::placeholder {
  color: #FF0000AB;
  opacity: 1; /* Firefox */
}

.border_left_class {
  border-left: 1px solid #00000029;
}

.size_type_control {
  justify-content: space-between;
  display: flex;
  width: 5%;
  /* width: 25%; */
}

.size_type_control p {
  font-size: 14px;
  color: #545454;
}

.skip_measurement {
  color: #5661FF;
  cursor: pointer;
}