.view_summary {
  background-color: #EFF2FE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #707070;
  padding-bottom: 20px;
}

.view_summary-link {
  color: #61dafb;
}

.view_summary_main {
  max-width: 767px;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.user_details_view {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.user_details {
  border: 1px solid #434141;
  width: 100%;
  height: 100%;
}

.user_details_title {
  margin-bottom: 0px;  
  color: #4D4D4D;
  font-size: 16px;
  font: normal normal bold 18px/24px Segoe UI;
  padding-left: 5px;
}

.user_details_value {
  margin-bottom: 0px;  
  color: #707070;
  font-size: 20px;
  font: normal normal bold 18px/24px Segoe UI;
  padding-left: 5px;
}

.user_image {
  height: 209px;
  border: 1px dashed #707070;
  border-radius: 10px;
  opacity: 1;
}

.summary_border_bottom {
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #434141;
}

.summary_border_right {
  border-right: 1px solid #434141;
}

.edit_submit_btn button{
  background: #5661FF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 0.8;
  width: 48%;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: center;
  align-self: center;
  display: flex;
  margin-top: 20px;
}

.summary_card {
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.summary_card_title {
  margin-bottom: 0px;
  font: normal normal 600 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.summary_card_value {
  margin-bottom: 0px;
  font: normal normal 600 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #202020;
  opacity: 1;
}

.height_type_control {
  justify-content: space-between;
  display: flex;
  margin-left: 10px;
}