

.basic_information {
  background-color: #eff2fe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #707070;
  padding-bottom: 20px;
}

.basic_information-link {
  color: #61dafb;
}

.basic_information_main {
  max-width: 767px;
  justify-content: center;
  align-items: center;
}

.basic_information_title {
  font-weight: bold;
}

.basic_information_input_title {
  font-weight: bold;
  font-size: 14px;
}

.input .error .form-group input {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.input .success .form-group input {
  border-color: #28a745;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.upload_image {
  display: flex;
  /* width: 100%; */
  height: 100%;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  border-style: dashed;
  cursor: pointer;
}

.upload_image_error {
  display: flex;
  /* width: 100%; */
  height: 100%;
  border: 1px solid #dc3545;
  border-radius: 10px;
  border-style: dashed;
  cursor: pointer;
}

.input_error_message {
  width: 100%;
  font-size: 80%;
  color: #dc3545;
}

.next_btn button{
  background: #5661FF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 0.8;
  width: 173px;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: center;
  align-self: center;
  display: flex;
  margin-top: 24px;
}

.error_tost .toast {
  background-color: red
}
.error_tost .toast .toast-body{
  color: #fff;
}

.success_tost .toast {
  background-color: green
}
.success_tost .toast .toast-body{
  color: #fff;
}

.body_type_card {
  height: auto;
  max-width: 767px;  
  border: 1px solid #c1c1c1;
  border-style: dashed;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.body_type_card_selected {
  height: auto;
  max-width: 767px;
  border: 1px solid #28a745;
  border-style: dashed;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.body_type_image {
  height: 200px;
  width: auto;
}

.body_type_details {
  margin-left: 20px;
  margin-right: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.body_type_text {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 5px;
}

.body_type_description {
  flex-wrap: nowrap;
  font-size: 15px;
  font-weight: 800;
}

.index_show {
  display: block;
}

.index_hide {
  display: none;
}

.pointer_class {
  cursor: pointer; 
}


.height_size_type_control {
  justify-content: space-between;
  display: flex;
  width: 35%;
  margin-left: 10px;
}

.height_size_type_control p {
  font-size: 14px;
  color: #545454;
}